*,
:before,
:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.markdown-body {
  box-sizing: border-box;
  width: 920px;
  margin: 0 auto;
  padding: 30px;
}
